<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     {{!-- CDN para editor --}}
     <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>{{nombrePagina}}</title>
</head>
<body>
    <div class="nombre-sitio contenedor">
        <h1>
            <a href="/">DevJobs</a>
        </h1>
        {{#if barra}}
            <div class="buscador">
                <form action="#">
                    <input type="text" class="buscar">
                    <input type="submit" value="Buscar">
                </form>
            </div>
        {{/if}}

        {{#if cerrarSesion}}
            <div class="cerrar-sesion">
                <p>Hola! {{nombre}}</p>
                <a href="/administracion">administracion</a>
                <a href="/cerrar-sesion">Cerrar Sesion</a>
            </div>
        {{/if}}
    </div>

    <header class="site-header contenedor separador">
        <h2>{{nombrePagina}}</h2>
        {{#if tagline}}
             <p class="tagline">{{tagline}}</p>
        {{/if}}

        {{#if boton}}
            <a href="/vacantes/nueva" class="btn btn-azul">Publicar Nueva Vacante</a>
        {{/if}}
    </header>

    <div class="contenido-principal contenedor">
        {{#if mensajes}}
            <div class="alertas">
                {{#mostrarAlertas mensajes}}
                {{/mostrarAlertas}}
            </div>
        {{/if}}
        {{{body}}}
    </div>

   

    {{!-- CDN TRIX editor de texto --}}
    <script src="/dist/bundle.js"></script>

     {{!-- CDN TRIX editor de texto --}}
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
</body>
</html>